@import '../styles/variables.scss';

.DatePanel {
  text-align: center;
  font-size: 16px;
}

.DatePanel h1 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px;

  @media only screen and (max-width: $media-size-narrow) {
    font-size: 18px;
  }
}

.PanelItem {
  font-size: 16px;
  padding: 10px 10px 8px;
  display: inline-block;

  @media only screen and (max-width: $media-size-narrow) {
    padding: 10px 8px 8px;
  }
}

.PanelItem.Selected {
  color: $link-selected-color;
}

.PanelItem.Disabled {
  opacity: $link-disabled-opacity;
}

.PanelItem:hover {
  cursor: pointer;
  background: $link-hover-color;
}

.PanelItem.Selected:hover {
  background: $link-selected-hover-color;
}

.ChangeYear {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;

  @media only screen and (max-width: $media-size-narrow) {
    padding: 10px 5px;
  }
}

.ChangeYear:hover {
  background: $link-hover-color;
}

.ChangeYear.Disabled {
  opacity: $link-disabled-opacity;
}

.ChangeYearText {
  margin-bottom: 5px;
  font-size: 12px;

  @media only screen and (max-width: $media-size-narrow) {
    display: none;
  }
}

.Arrow {
  width: 0;
  height: 0;
}

.ArrowRight {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ddd;
  float: right;
}

.ArrowLeft {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:7px solid #ddd;
}

@media only screen and (max-width: $media-size-narrow) {
  .Long {
    display: none;
  }

  .ShortHand {
    display: none;
  }

  .Number {
    display: block;
  }
}

@media only screen and (min-width: $media-size-narrow) and (max-width: $media-size-wide) {
  .Long {
    display: none;
  }

  .ShortHand {
    display: block;
  }

  .Number {
    display: none;
  }
}

@media only screen and (min-width: $media-size-wide) {
  .Long {
    display: block;
  }

  .ShortHand {
    display: none;
  }

  .Number {
    display: none;
  }
}
