$app-bg: #191A1A;
$app-text-color: #ddd;

$link-selected-color: #00A1FF;
$link-disabled-opacity: 0.3;
$link-hover-color: #222;
$link-selected-hover-color: #222;

$media-size-narrow: 820px;
$media-size-wide: 1200px;

$map-top-narrow: 120px;
$map-top-wide: 170px;

$dialog-bg: #212323;

$chart-line-color: #747B7B;

@mixin secondary-header() {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 5px;

  @media only screen and (max-width: $media-size-narrow) {
    font-size: 18px;
  }
}
