$app-bg: #191A1A;
$app-text-color: #ddd;

$link-selected-color: #00A1FF;
$link-disabled-opacity: 0.3;
$link-hover-color: #222;
$link-selected-hover-color: #222;

$media-size-narrow: 820px;
$media-size-wide: 1200px;
